<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Assets/Client/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link href="~/Assets/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/base.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/icon.css">
    <!--===============================================================================================-->
</head>
<body class="animsition">

    <!-- Header -->
    @{ Html.RenderAction("Header", "Home");}

    @RenderBody()

    @RenderPage("Footer.cshtml")

    <!--===============================================================================================-->
    <script src="~/Assets/Client/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Client/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Client/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Assets/Client/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Client/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Assets/Client/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Assets/Client/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Client/vendor/slick/slick.min.js"></script>
    <script src="~/Assets/Client/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Client/vendor/parallax100/parallax100.js"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="~/Assets/Client/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/Assets/Client/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Client/vendor/sweetalert/sweetalert.min.js"></script>

    <script>


        $(function () {
            console.log("ready!");
            const listProductsInCartSidebar = document.getElementById(
                "getId-user"
            );
            const id = $(listProductsInCartSidebar).attr("data-id")
            if (id) {
                loadCart(id);
            }
           
        });

        const loadCart = async (idUser) => {
            const listProductsInCartSidebar = document.getElementById(
                "detail-list-all-products-in-cart"
            );

            let totalPrice = 0;
            const res1 = await fetch(`https://localhost:44323/Cart/GetAllCart?id_user=${idUser}`, {
                method: "GET"
            })
            const data1 = await res1.json();
            if (data1.data.length == 0) {
                listProductsInCartSidebar.innerHTML = "<h4>Giỏ hàng trống<h4>";
                document.getElementById(
                    "detail-cart-total-price-sidebar"
                ).innerHTML = parseInt(0).toLocaleString("vi-VN", {
                    style: "currency",
                    currency: "VND",
                });
            } else {
                $(".js-show-cart").attr("data-notify", data1.data.length);
                const html = data1.data.map((item) => {
                    totalPrice += parseInt(item.price * item.quantity);
                    const price = parseInt(item.price * item.quantity).toLocaleString(
                        "vi-VN",
                        {
                            style: "currency",
                            currency: "VND",
                        }
                    );

                    return `
                                <li class="header-cart-item flex-w flex-t m-b-12 align-items-center">
                                    <div class="header-cart-item-img">
                                        <img src="/Assets/Client/images/product/${item.Products.image}"
                                            alt="IMG" />
                                    </div>
                                    <div class="header-cart-item-txt p-t-8">
                                        <a href="/chi-tiet/${item.Products.slug}"
                                            class="header-cart-item-name m-b-8 hov-cl1 trans-04">
                                            ${item.Products.name}
                                        </a>
                                        <span class="header-cart-item-info" id="price-product" style="color: #D70018;">
                                            ${price}
                                        </span>
                                    </div>
                                </li>
                            `;
                });
                listProductsInCartSidebar.innerHTML = html.join("");
                document.getElementById(
                    "detail-cart-total-price-sidebar"
                ).innerHTML = parseInt(totalPrice).toLocaleString("vi-VN", {
                    style: "currency",
                    currency: "VND",
                });

            }
        }




        $('.js-addwish-b2').on('click', function (e) {
            e.preventDefault();
        });

        $('.js-addwish-b2').each(function () {
            var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
            });
        });

        $('.js-addwish-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-detail');
                $(this).off('click');
            });
        });

        /*---------------------------------------------*/



        $('.js-addcart-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
            $(this).on('click', async function (e) {
                const idProduct = Number($(this).data("id"));
                const idUser = $(this).data("iduser");
                const quantity = 1;
                const price = Number($(this).data("price"));

                let url = 'https://localhost:44323/Cart/AddtoCart';
                const res = await fetch(url, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        accountId: idUser,
                        productId: idProduct,
                        quantity,
                        price
                    })
                })

                const data = await res.json();


                if (data.status === "success") {
                    let i = ($(".js-show-cart").attr("data-notify")) * 1;
                    $(".js-show-cart").attr("data-notify", i + 1);

                    loadCart(idUser);


                }
                swal(nameProduct, "is added to cart !", "success");

            });
        });

        $(".js-alert-login").on("click", function () {
            swal({
                title: "Bạn chưa đăng nhập",
                text: "Bạn cần đăng nhập để thêm sản phẩm vào giỏ hàng !",
                icon: "warning",
                buttons: 'ok',
                dangermode: true,
            }).then(function (isconfirm) {
                if (isconfirm) {
                    window.location.href = '/Login'
                }
            })


        })


    </script>
    <!--===============================================================================================-->
    <script src="~/Assets/Client/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/Assets/Client/js/main.js"></script>

</body>
</html>