@model FootballShopModel.Models.CartDetail

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";

}

<div class="wrap-header-cart js-panel-cart">
    <div class="s-full js-hide-cart"></div>

    <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
            <span class="mtext-103 cl2">
                Giỏ hàng của tôi
            </span>

            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>

        @{
            var message = new HtmlString("<h6>Bạn chưa đăng nhập, vui lòng đăng nhập để xem giỏ hàng</h6>");
            if (Session["id_user"] == null)
            {
                @message;
            }
            else
            {
                <div class="header-cart-content flex-w js-pscroll">
                    <ul id="detail-list-all-products-in-cart" class="header-cart-wrapitem w-full">
                    </ul>
                    <div class="w-full">
                        <div class="header-cart-total w-full p-tb-40">
                            Tổng : <span id="detail-cart-total-price-sidebar" style="color: #D70018;">0</span>
                        </div>

                        <div class="header-cart-buttons flex-w w-full">
                            <a href="@Url.Action("Index", "ShopingCart")" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                                Xem giỏ hàng
                            </a>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>

<form class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-10 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart" id="cart_empty">
                        <table id="list-shopingcart-detail-items" class="table-shopping-cart">

                            @{
                                var myHtmlString = new HtmlString("<h4>Bạn chưa đăng nhập, vui lòng đăng nhập để xem giỏ hàng</h4>");
                                if (Session["id_user"] == null)
                                {
                                    @myHtmlString;
                                }
                            }




                        </table>
                    </div>
                </div>
            </div>
        </div>

         

        <div id="bill-information" class="row">
            <div class="col-lg-12 col-xl-10  m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl8 p-b-30">
                        Đơn hàng
                    </h4>
                    <div class="flex-w flex-t bor12 p-t-15 p-b-30">
                        <div class="size-208 w-full-ssm">
                            <span class="stext-110 cl8">
                                Thông tin nhận hàng:
                            </span>
                        </div>

                        <div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
                            <div class="">
                                <div class="form-group">
                                    <label for="">Tên người nhận</label>
                                    <input id="bill-recipient-name" type="text"
                                           class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="">Số điện thoại</label>
                                    <input id="bill-recipient-phone" type="text"
                                           class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="">Địa chỉ</label>
                                    <input id="bill-recipient-address" type="text"
                                           class="form-control">
                                </div>

                                @*<div class="form-group">
                                    <label for="">Ghi chú</label>
                                    <input id="bill-note" type="text" class="form-control">
                                </div>*@
                            </div>
                        </div>
                    </div>

                    <div class="flex-w flex-t p-t-27 p-b-33">
                        <div class="size-208">
                            <span class="mtext-101 cl8">
                                Tổng đơn hàng: <span id="detail-shopingcart-total-price">0</span>
                            </span>
                        </div>

                        <div class="size-209 p-t-1">
                            <span id="bill-total-price" class="mtext-110 cl8"
                                  style="color: #D70018;">
                                    123123
                            </span>
                        </div>
                    </div>

                    <button type="button"
                            class="flex-c-m stext-101 cl0 size-117 mx-auto bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"
                            id="order_btn"
                            >
                        Đặt hàng
                    </button>
                </div>
            </div>
        </div>

    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-hidden="true"
     style="z-index: 9999">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title cl8" id="exampleModalLabel">Bỏ sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body cl8">
                Bạn chắc chắn muốn bỏ sản phẩm <strong id="confirm-detele-modal-product-name"></strong> khỏi
                giỏ hàng?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy bỏ</button>
                <button id="confirm-delete-modal-agree-btn" data-cart-detail-id="" type="button"
                        class="btn btn-danger">
                    Đồng ý
                </button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    const listProductsInCartSidebar = document.getElementById(
        "getId-user"
    );
    let id = listProductsInCartSidebar.getAttribute('data-id');
    if (!id) {
        document.getElementById("bill-information").style.display = "none";
    } else {
        const loadShopingCart = async (idUser) => {
            const listProductsInShopingCart = document.getElementById(
                "list-shopingcart-detail-items"
            );
            let totalPrice = 0;
            const res1 = await fetch(`https://localhost:44323/Cart/GetAllCart?id_user=${idUser}`, {
                method: "GET"
            })
            const data1 = await res1.json();
            document.getElementById("detail-shopingcart-total-price").innerHTML = data1.data.length;
            if (data1.data.length == 0) {
                listProductsInShopingCart.innerHTML = "<h4>Giỏ hàng trống</h4>";
                document.getElementById("bill-information").style.display = "none";

            } else {
                const html = data1.data.map((item) => {

                    totalPrice += parseInt(item.price * item.quantity);

                    const price = parseInt(item.price * item.quantity).toLocaleString(
                        "vi-VN",
                        {
                            style: "currency",
                            currency: "VND",
                        }
                    );

                    return `
                                <tr
                                    class="table_row" id="tr_cart-${item.id}">
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <img src="/Assets/Client/images/product/${item.Products.image}"
                                                     alt="IMG">
                                            </div>
                                        </td>
                                        <td class="column-2">${item.Products.name}</td>
                                        <td class="column-3" id="render-price-${item.productId}"
                                            style="color: #D70018;">
                                                ${price}
                                        </td>
                                        <td class="column-4">
                                            <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                <div
                                                    class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m" data-idproduct=${item.productId} >
                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                </div>

                                                <input class="mtext-104 cl3 txt-center num-product"
                                                    type="number" name="num-product1" value="${item.quantity}" min="1">

                                                <div
                                                    class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" data-idproduct=${item.productId}>
                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="column-5">
                                            <button
                                                    data-toggle="modal" data-target="#confirm-delete-modal"
                                                    data-id=${item.id}
                                                    type="button"
                                                    type="button" style="color: #D70018;"
                                                    class="detete-product-in-cart-btn">
                                                Xóa
                                            </button>
                                        </td>
                                    </tr>
                            `;
                });
                listProductsInShopingCart.innerHTML = html.join('');
                document.getElementById("bill-total-price").innerHTML = totalPrice.toLocaleString(
                    "vi-VN",
                    {
                        style: "currency",
                        currency: "VND",
                    }
                );
                return listProductsInShopingCart
            }

        }

        loadShopingCart(id);


        setTimeout(() => {
            $('.btn-num-product-down').on('click', async function () {
                var numproduct = Number($(this).next().val());
                if (numproduct > 1) {
                    $(this).next().val(numproduct - 1);
                    const productId = $(this).attr('data-idproduct');

                    const data = await fetch(`https://localhost:44323/ShopingCart/UpdateQuantityDown?productId=${productId}`)
                    const res = await data.json();
                    if (res.data != null) {
                        $(this).prev().val(numproduct + 1);
                        const price = parseInt(res.data.price * res.data.quantity).toLocaleString(
                            "vi-VN",
                            {
                                style: "currency",
                                currency: "VND",
                            }
                        );

                        document.getElementById(`render-price-${productId}`).innerHTML = price;
                        let a = document.getElementById("bill-total-price").innerHTML
                        console.log(a);
                        let num = a.replace(/\D/g, '');
                        console.log(num)
                        document.getElementById("bill-total-price").innerHTML = (num * 1 - res.data.price * 1).toLocaleString(
                            "vi-VN",
                            {
                                style: "currency",
                                currency: "VND",
                            }
                        );
                    }
                }

            });

            $('.btn-num-product-up').on('click', async function () {
                var numproduct = Number($(this).prev().val());


                const productId = $(this).attr('data-idproduct');

                const data = await fetch(`https://localhost:44323/ShopingCart/UpdateQuantityUp?productId=${productId}`)
                const res = await data.json();
                if (res.data != null) {
                    $(this).prev().val(numproduct + 1);
                    const price = parseInt(res.data.price * res.data.quantity).toLocaleString(
                        "vi-VN",
                        {
                            style: "currency",
                            currency: "VND",
                        }
                    );

                    document.getElementById(`render-price-${productId}`).innerHTML = price;
                    let a = document.getElementById("bill-total-price").innerHTML
                    let num = a.replace(/\D/g, '');
                    document.getElementById("bill-total-price").innerHTML = (num * 1 + res.data.price * 1).toLocaleString(
                        "vi-VN",
                        {
                            style: "currency",
                            currency: "VND",
                        }
                    );
                }
            });



            $('.detete-product-in-cart-btn').on('click', function () {
                const idCart = $(this).data('id');
                $('#confirm-delete-modal-agree-btn').attr('data-cart-detail-id', idCart);
            })



            $('#confirm-delete-modal-agree-btn').on('click', async function () {
                const idCart = $(this).attr('data-cart-detail-id') * 1;
                $('#confirm-delete-modal').modal('hide')
                console.log(idCart);
                const res = await fetch(`https://localhost:44323/ShopingCart/DeleteShopingCart?idCart=${idCart}`);
                const data = await res.json();
                console.log(data);
                if (data.status == "success") {
                    $(`#tr_cart-${idCart}`).remove();
                    let quantity = ($(".js-show-cart").attr("data-notify")) * 1;
                    if (quantity - 1 === 0) {
                        $("#list-shopingcart-detail-items").remove();
                        document.getElementById("cart_empty").innerHTML = "<h4>Giỏ hàng trống</h4>";
                        document.getElementById("bill-information").style.display = "none";
                    }
                    $(".js-show-cart").attr("data-notify", quantity - 1);
                    let a = document.getElementById("bill-total-price").innerHTML
                    let num = a.replace(/\D/g, '');
                    document.getElementById("bill-total-price").innerHTML = (num * 1 - (data.data.price * data.data.quantity) * 1).toLocaleString(
                        "vi-VN",
                        {
                            style: "currency",
                            currency: "VND",
                        }
                    );
                    let don = document.getElementById("detail-shopingcart-total-price").innerHTML * 1;
                    document.getElementById("detail-shopingcart-total-price").innerHTML = don - 1;
                }
            })


            


            $("#order_btn").on("click", async function (e) {
                e.preventDefault();
                let detailPrice = document.getElementById("bill-total-price").innerHTML;
                let priceTotal = (detailPrice.replace(/\D/g, '')) * 1;

                const name_recipient_name = $("#bill-recipient-name").val();
                const name_bill_recipient_phone = $("#bill-recipient-phone").val();
                const bill_recipient_address = $("#bill-recipient-address").val();

               

                const res = await fetch("https://localhost:44323/Bill/CreateBill", {
                    method: "POST",
                    headers: {
                       'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        accountId: id,
                        recipientName: name_recipient_name,
                        recipientAddress: bill_recipient_address,
                        recipientPhone: name_bill_recipient_phone,
                        totalPrice: priceTotal
                    })
                })
                const data = await res.json();
                if (data.status === "success") {
                    $("#bill-recipient-name").val("");
                    $("#bill-recipient-phone").val("");
                    $("#bill-recipient-address").val("");
                    document.getElementById("bill-total-price").innerHTML = 0;
                    $("#list-shopingcart-detail-items").remove();
                    document.getElementById("cart_empty").innerHTML = "<h4>Giỏ hàng trống</h4>";
                    document.getElementById("bill-information").style.display = "none";
                    $(".js-show-cart").attr("data-notify", 0);
                    $("#detail-list-all-products-in-cart").remove();
                    document.getElementById("detail-cart-total-price-sidebar").innerHTML = "0";
                    swal("Đơn hàng", "Đặt hàng thành công", "success");
                }
            })
        }, 1000);
    }
</script>